/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "articles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url(font-path('Nunito-Regular.ttf')) format('truetype');
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

.nav-right,
.nav-middle,
.nav-left,
.nav-container,
.navbar {
  display: flex;
}

.nav-right,
.nav-middle,
.nav-left,
.navbar {
  align-items: center;
}

.navbar {
  margin: 0 auto 2rem;
  padding: 0 5rem;
  height: 9rem;
  .nav-container {
    margin: 0 auto;
    height: 9rem;
    width: 98%;
    .nav-left {
      padding-right: 2rem;
      width: 30%;
      img {
        width: 12rem;
        margin-right: 1.8rem;
      }
      h2 {
        font-family: 'Nunito-Regular';
        font-weight: bolder;
        color: #4E443E;
      }
      p {
        position: relative;
        bottom: 1.8rem;
        left: 0.3rem;
        align-self: flex-end;
        width: 1.3rem;
        height: 1.3rem;
        background-color: #F76108;
        border-radius: 50%;
      }
    }
    .nav-middle {
      width: 40%;
      justify-content: space-evenly;
      a {
        font-family: 'Nunito-Regular';
        font-weight: bold;
        color: #847F7B;
        font-size: 1.7rem;
        &:hover {
          color: #FA7C37;
        }
      }
    }
    .nav-right {
      width: 30%;
      justify-content: flex-end;
      .btn {
        font-family: 'Nunito-Regular';
        font-weight: bold;
        margin-right: 1.5rem;
        font-size: 1.5rem;
        background-color: #FA7C37;
        color: white;
        &:hover {
          background-color: #847F7B;
        }
      }
      img {
        width: 3rem;
        margin-left: 1.5rem;
      }
    }
  }
}
