// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-article {
  height: 55rem;
  background-size: cover;
  p,
  h1 {
    font-family: 'Nunito-Regular';
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: 5rem;
    top: 35rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.8rem;
    border-radius: 1rem;
  }
  h1 {
    a {
      color: #FA6000;
      font-size: 3rem;
      &:hover {
        color: #ff9d60;
      }
    }
  }
  p {
    width: 93%;
    a {
      color: white;
      font-size: 1.7rem;
    }
  }
}

.cat-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 28rem;
  &-item {
    background-position: center;
    background-size: cover;
    h2 {
      a {
        font-family: 'Nunito-Regular';
        font-weight: bold;
        left: 1.5rem;
        text-decoration: underline;
        text-decoration-color: #FA6000;
        font-size: 1.9rem;
        position: relative;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.8rem;
        border-radius: 1rem;
        color: white;
      }
    }
    h3 {
      width: 90%;
      line-height: 1.8rem;
      a {
        font-family: 'Nunito-Regular';
        font-weight: bold;
        left: 1.5rem;
        top: 13rem;
        font-size: 1.4rem;
        position: relative;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.8rem;
        border-radius: 1rem;
        color: white;
      }
    }
  }
}
