// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 55rem;
  &-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-img {
      width: 100%;
      background-position: center;
      background-size: cover;
    }
    &-content {
      h3 {
        a {
          font-family: 'Nunito-Regular';
          font-weight: bold;
          text-decoration: underline;
          text-decoration-color: #FA6000;
          font-size: 1.7rem;
          display: inline-block;
          padding: 0.8rem;
          color: black
        }
      }
      p {
        line-height: 1.8rem;
        a {
          font-family: 'Nunito-Regular';
          font-weight: bold;
          font-size: 1.4rem;
          display: inline-block;
          padding: 0.8rem;
          color: black;
        }
      }
    }
  }
}
