// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 46rem;
  h1,
  span {
  display: block;
  font-family: 'Nunito-Regular';
  font-weight: bolder;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  span {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
