<div class="category-container">
  <div class="category-container-item">
    <div class="category-container-item-img"></div>
    <div class="category-container-item-content"></div>
  </div>
  <div class="category-container-item">
    <div class="category-container-item-img"></div>
    <div class="category-container-item-content"></div>
  </div>
  <div class="category-container-item">
    <div class="category-container-item-img"></div>
    <div class="category-container-item-content"></div>
  </div>
  <div class="category-container-item">
    <div class="category-container-item-img"></div>
    <div class="category-container-item-content"></div>
  </div>
</div>
